BeautifulSoup==3.2.1
Jinja2==2.7
M2Crypto==0.21.1
MarkupSafe==0.18
PyYAML==3.10
behave==1.2.3
distribute==0.6.45
git-remote-helpers==0.1.0
mechanize==0.2.5
msgpack-python==0.3.0
parse==1.6.2
pycrypto==2.6
pyzmq==13.1.0
salt==0.16.0
vboxapi==1.0
wsgiref==0.1.2
